@media (min-width: 992px) {
    .card div:nth-child(1){
        height: 240px !important;
    }
}

.title {
    color: #0e1b4d;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.subTitle {
    font-weight: 400;
    text-align: center;
    position: relative;
    font-size: 1.25rem;
    position: relative;
    width: 50%;
    margin: auto;
    display: block;
}

.subTitle::after {
    content: "";
    position: absolute;
    top: 130%;
    left: 43%;
    width: 15%;
    border-bottom: 5px solid #f82249;
}

.card{
    border: 1px solid rgb(218, 216, 216);
    transition: 300ms;
}

.card:hover{
    box-shadow: 0px 0px 20px 0px rgb(143, 143, 143);
}

.card img{
    transition: 300ms;

}

.card:hover img{
    filter: grayscale(100%);
}

.card div:nth-child(1){
    height: auto;
}