@media (min-width: 650px) {
    .section h1{
        font-size: 4.2em;
    }

    .section p{
        font-size: 1.25rem;
    }
    
}

.section{
    background-image: url(../../img/land_bg.jpg);
    height: 93vh;
    width: 100%;
    position: relative;
    z-index: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(6, 12, 34, 0.8);
    z-index: -1;
}

.section h1{
    
    line-height: 1.3em;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.section h1 > span{
    color: #f82249;
}

.section p {
    color: white;
    font-weight: 700;
    margin-top: 10px;
}

.play{
    position: relative;
}

.section .play::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(163, 163, 163, 0.4);
    border-radius: 100%;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: play-animate;
}

@keyframes play-animate {
    
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }

}

.btnAbout{
    padding: 10px 50px;
    border: 2px solid #f82249;
    background-color: #f82249;
    margin-top: 60px;
    color: white;
    text-transform: capitalize;
    font-size: 16px;
    border-radius: 20px;
    transition: 400ms;
}

.btnAbout:hover{
    background-color: transparent;
}


/*******/


.end{
    background-image: url(../../img/after3.png);
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.end::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(13, 20, 41, 0.8);
    z-index: -1;
}

.end h2{
    color: #f82249;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
}

.end h5{
    color: #f82249;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
}