.forH6{
    border-bottom: 2px solid #f82249 ;
    font-size: 1rem !important;
    font-weight: 500;
}

.fori{
    color: #f82249;
}

.fori  a{
    text-decoration: none !important;
}

.icons{
    background-color: #222636;
    width: 50px;
    text-align: center;
    transition: 400ms;
    border-radius: 5px;
}

.icons:hover{
    background-color: #f82249;
}